<div class="sidebar">
  <div class="container">
  <div>
	<a href="{{ site.baseurl }}">
	 <img src="avatar.jpg" alt="myself" style="width:19rem">
	 </a>
	 </div>
    <div class="sidebar-about">
		<h1>
        <a href="{{ site.baseurl }}" style = "text-transform:uppercase;">
         {{ site.author.name }}
        </a>
		</h1>
	</div>
	
	<a class="sidebar-nav-item" href="CV_Kirill_Rudov.pdf">Curriculum Vitae</a>
	<a class="sidebar-nav-item">{{ site.author.email }}</a>
	</div>
</div>
