<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body class="theme-base-09">

    {% include sidebar.html %}

    <div class="content container">
      {{ content }}
    </div>
	{% include collapse.html %}
  </body>
</html>
